#{extends 'main.html' /}
#{set title:'海报列表' /}
<link rel="stylesheet" type="text/css" href="@{'/public/metronic/css/select2_metro.css'}" />
<link rel="stylesheet" href="@{'/public/metronic/css/DT_bootstrap.css'}" />
#{headerbar /}
<div class="page-container row-fluid">
#{siderbar type:'home'/}
<div class="page-content">
<div class="container-fluid">
<br>
<ul class="breadcrumb">
  <li> <i class="icon-home"></i> <a href="index.html">Home</a> 
</ul>

<div class="message">#{message flash:flash /}</div>
</div>
</div>
</div>


