<!DOCTYPE html>
<html>
  <head>
    <title>superManage.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
#{message flash:flash /}		 
<a href="/addPoster">增加海报</a>
<a href="/listUnPoster">浏览未发布的海报</a>
<a href="/listAllPoster">浏览所有海报</a>
<a href="/addUser">增加用户</a>
<a href="/listUser">用户列表</a>
  </body>
</html>
