<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="@{'/public/metronic/css/bootstrap.min.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/bootstrap-responsive.min.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/font-awesome.min.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/style-metro.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/style.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/style-responsive.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/metronic/css/default.css'}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="@{'/public/metronic/css/uniform.default.css'}" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->