<!-- BEGIN CORE PLUGINS --> 


<script src="/public/metronic/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> 

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip --> 

<script src="/public/metronic/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 
<script src="/public/metronic/js/bootstrap.min.js" type="text/javascript"></script> 

<!--[if lt IE 9]>

	<script src="/public/metronic/js/excanvas.min.js"></script>

	<script src="/public/metronic/js/respond.min.js"></script>  

	<![endif]--> 

<script src="/public/metronic/js/jquery.slimscroll.min.js" type="text/javascript"></script> 
<script src="/public/metronic/js/jquery.blockui.min.js" type="text/javascript"></script> 
<script src="/public/metronic/js/jquery.cookie.min.js" type="text/javascript"></script> 
<script src="/public/metronic/js/jquery.uniform.min.js" type="text/javascript" ></script> 


<!-- END CORE PLUGINS --> 
<script type="text/javascript" src="/public/metronic/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/public/metronic/js/select2.min.js"></script>
<script type="text/javascript" src="/public/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/public/metronic/js/table-managed.js"></script> 
<script type="text/javascript" src="/public/metronic/js/bootstrap-fileupload.js"></script>
<script src="/public/metronic/js/app.js"></script>
<script src="/public/metronic/js/login.js" type="text/javascript"></script>      



