<div class="header navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid"> <a class="brand" href="index.html"> <img src="" alt="logo"> </a> <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse"> <img src="media/image/menu-toggler.png" alt=""> </a>
      <ul class="nav pull-right">
       #{if session.get("type").equals("3")||session.get("type").equals("2")} 
       <li class="dropdown" id="header_inbox_bar"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-envelope"></i> <span class="badge">5</span> </a>
          <ul class="dropdown-menu extended inbox">
            <li>
              <p>You have 12 new messages</p>
            </li>
            <li class="external"> <a href="/listUnPoster">查看所有未发布海报 <i class="m-icon-swapright"></i></a> </li>
          </ul>
        </li>
       #{/if}
        <li class="dropdown user"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="username">${session.get('username')}</span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
            <li><a href="/editUser"><i class="icon-user"></i> 修改资料</a></li>
            <li class="divider"></li>
             <li><a href="/login.html"><i class="icon-key"></i> 退出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>