<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/public/metronic/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/public/metronic/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
<link href="/public/metronic/css/style-metro.css" rel="stylesheet" type="text/css">
<link href="/public/metronic/css/style.css" rel="stylesheet" type="text/css">
<link href="/public/metronic/css/error.css" rel="stylesheet" type="text/css">
<title>找不到了。。</title>
</head>

<body class="page-404-full-page">
  <div class="row-fluid">
    <div class="span12 page-404">
      <div class="number"> 404 </div>
      <div class="details">
        <h3>啊哦，找不到了。</h3>
        <p> 好像找不到你所寻找的界面。<br />
          点击 <a href="/">这里</a> 转回主页 </p>
      </div>
    </div>
    <div>
        #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
            <h1>Not found</h1>
            <p>
                ${result.message}
            </p>
        #{/else}
    </div>
  </div>
</body>
</html>
