<!DOCTYPE html>
<html lang="en" class="no-js demo-5">
<head>
<meta charset="UTF-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/detailpage.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/showDetail.css" />
<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="container" style="width: 100%">
  <header>
    <h2>${poster.title}</h2>
  </header>
  <div class="main clearfix">
    <ul class="bb-custom-grid" id="bb-custom-grid">
      <li>
        <div class="bb-bookblock">
          <div class="bb-item">
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">${poster.title}</h3>
              </div>
              <div class="modal-body"> <a href="${poster.photo}"><img src="${poster.photo}"  style="width: 100%"></a> </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">关闭</button>
              </div>
            </div>
            <a  href="#myModal" data-toggle="modal"><img src="${poster.photo}"/></a></div>
        </div>
      </li>
      <div class="detail">
        <p>${poster.detail}</p>
        <blockquote> <small> Upload By <strong>${poster.submitter}</strong></small> </blockquote>
      </div>
    </ul>
  </div>
</div>
<!-- /container -->
</body>
</html>