<!DOCTYPE html>
<html lang="en" class="no-js demo-5">
<head>
<meta charset="UTF-8" />
<title>精弘海报</title>
<link rel="shortcut icon" type="image/ico" href="@{'/public/images/favicon.ico'}">
<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/css/bootstrap.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/detailpage.css'}" />
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/showDetail.css'}" />
<script type="text/javascript" src="@{'/public/javascripts/jquery.min.js'}"></script>
<script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap.js'}"></script>
</head>
<body>
<div class="container" style="width: 100%">
  <header>
    <h2>${poster.title}</h2>
  </header>
  <div class="main clearfix">
    <ul class="bb-custom-grid" id="bb-custom-grid">
      <li>
        <div class="bb-bookblock">
          <div class="bb-item">
            <a href="${'.'+poster.photo}" target="_blank"><img src="${'.'+poster.photo}"/></a></div>
        </div>
      </li>
      <div class="detail">
        <p>${poster.detail}</p>
        <blockquote> <small> Upload By <strong>${poster.submitter}</strong></small> </blockquote>
      </div>
    </ul>
  </div>
</div>
<!-- /container -->
</body>
</html>
<!-- by Aizen aizenchou@hotmail.com -->